<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Temperature Convertor | Js Apps</title>
    <meta name="description" content="Fast convert temperature units, Celsius, , Rankine ,Fahrenheit, many others." />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../fontawesome/../css/all.min.css" />
    <link rel="stylesheet" href="../css/magnific-popup.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />

    <link rel="stylesheet" href="../css/minor-upright.css">
  </head>
  <body>
    <div class="container-fluid" >
      <div class="row">
        <!-- Leftside bar -->

        <div class="tm-main">
          <!-- Home section -->
          <div class="tm-section-wrap">
            <h2 class="tm-text-primary">Temperature Convertor</h2>
            <hr class="mb-5" />
            <section id="home" class="tm-section">
              <div class="row">
                <div class="col-lg-6 tm-col-home mb-4">
                  <div class="tm-text-container">
                    <p>
                      This algorithm converts temperatures to and from celsius,
                      fahrenheit, and kelvin without doing traditional
                      calculation. It receives original data and converts it to
                      any specified unit.
                    </p>
                  </div>
                </div>
                <!--
                        
                            <div class="tm-icon-container mb-5 mr-0 ml-auto">
                                <i class="fas fa-satellite-dish fa-4x tm-text-primary"></i>
                            </div>  
                        -->
              </div>
              <!-- Checker -->
              <div class="col-xl-6 tm-contact-col-l mb-4">
                <input
                  type="text"
                  id="celsius-input"
                  class=" rounded-0"
                  placeholder="Celsius"
                  required
                />
                <br />
                <br />
                <p>Fahrenheit : <span id="result1"></span></p>
                <button id="onclick-one">
                  Calc
                </button>
                
              </div>
              <div class="col-xl-6 tm-contact-col-l mb-4">
                <input
                  type="text"
                  id="fahrenheit-input"
                  class=" rounded-0"
                  placeholder="Fahrenheit"
                  required
                />
                <br />
                <br />
                <p>Celsius : <span id="result2"></span></p>
                <button id="onclick-two" >
                  Calc
                </button>
              </div>
            </section>
            
          </div>

          <!-- Copyright -->
          <div class="tm-section-wrap tm-copyright row">
            <div class="col-12">
              <div class="text-right">Copyright 2020</div>
            </div>
          </div>
        </div>
        <!-- .tm-main -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container-fluid -->
    <script type="text/javascript" src="../js/tempcon.js"></script>
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/jquery.singlePageNav.min.js"></script>
    <script src="../js/parallax/parallax.min.js"></script>
    <script src="../js/imagesloaded.pkgd.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
  </body>
</html>
